@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet');

.sidebar{
    background-color: black;
    color:white;
    width:20%;
    height:100vh;
    padding:10px;
}
body{
    margin:0;
}

.fixoverflow{
    display:flex;
}
.buttonprompt{
    position: absolute;
    left:40%;
    top:20%;
    height:40%;
    width:20%;
    background-color: #ffdbc5;
    box-shadow: 5px 10px 8px #888888;
    position: fixed;
        overflow: hidden;
        z-index: 2400;
        /* opacity: 0.70; */
        right: 30px;
        top: 25% !important;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    padding:20px;
}

@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap');
.greeting{
    height:150px;
    width:400px;
    border:5px solid red;
    border-radius: 20px;
    text-align: center;
}
.g1{
    font-size: 2rem;
    margin-bottom:0;
    font-family: 'Open Sans', sans-serif;
}
.g2{
    margin-top:0;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}

.bargraph{
    height:100px;
    width:100px;
}

.importedbutton{
    height:60px;
    width:130px;
    border-radius: 20px;
    font-size:1.2rem;
    font-family: 'Open Sans', sans-serif;
    /* border:2px solid black; */
    box-shadow: 5px 10px 8px #888888;
}

.pos{
    position: absolute;
    top:0;
    left:23%;
}

.bpp{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top:10px;
}

.pb{
    background: none;
  border: none;
  padding: 0;
  /*optional*/
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  /*input has OS specific font-family*/
  color: #008ae6;
  text-decoration: underline;
  cursor: pointer;
}

.sp{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.htmlh1{
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans+Caption&display=swap');

.htmlh2{
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
}

.htmlh3{
    font-size: 3rem;
    font-family: 'PT Sans Caption', sans-serif;
}

.shtml{
    background: none;
    border: none;
    padding: 0;
    /*optional*/
    font-size: 1.5rem;
    /*input has OS specific font-family*/
    text-decoration: underline;
    cursor: pointer;
    color:white;
    margin-top:10px;
    margin-left:5px;
}

.shtmlh1{
    margin-top:30px;
    font-family: 'Lobster', cursive;
}

.shtmlh2{
    font-family: 'Abril Fatface', cursive;
}

.shtmlh3{
    font-family: 'PT Sans Caption', sans-serif;
    margin-bottom:30px;
}

.hlabel{
    font-size:1.5rem;
}

.resize{
    resize: both;
    width:60%;
}

.mb{
    margin-bottom:30px;
}

.gbutton{
    font-size: 1rem;
    height:500px;
    width:500px;
}

.left_div{
    width: 350px;
    height:500px;
    padding-top: 100px;
    margin-top: 150px;
    margin-left:80px;
    margin-right:0;
    border:5px ridge;
    background-color:black;
}

.right_div{
   width: 350px;
   height:500px;
   padding-top: 100px;
   margin-top: 150px;
   margin-left:150px;
   margin-right:50px;
   border:5px ridge;
   background-color:black;
}

.image_div{
    width:180px;
    height:130px;
    padding-left:40px;
    padding-right:10px; 
    margin-left:60px;
    margin-top:40px;
}

.heading_homepage{
   font-family: 'Merriweather', serif;
   color:white;
}